/*
 * Define settings that should not be in version control
 */
const char* outTopic = "security";
const int INPUT_PIN = 12;
const int LED_PIN = 13;

/*
 * Config for sensors to trigger on
 */
const int num_sensors = 2;
const SENSOR_IDENT sensor_codes[] = {
  {{0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00}, "door1"},
  {{0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00}, "door2"}
};
